<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>com.burritoz.testing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Overall Dock Settings:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.dockifyprefs</string>
			<key>key</key>
			<string>transparent</string>
			<key>label</key>
			<string>Transparent Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.dockifyprefs</string>
			<key>key</key>
			<string>hidden</string>
			<key>label</key>
			<string>Hide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock Height Multiplier (1 default):</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.burritoz.dockifyprefs</string>
			<key>key</key>
			<string>setHeight</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>10</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Opacity Multiplier (0-1):</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.burritoz.dockifyprefs</string>
			<key>key</key>
			<string>customOpacity</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Max Dock Icons:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>4</string>
			<key>defaults</key>
			<string>com.burritoz.dockifyprefs</string>
			<key>key</key>
			<string>setIconNumber</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>20</integer>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply/ReSpring</string>
			<key>action</key>
			<string>respring:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Try not. Do... or do not. There is no try.&quot;</string>
		</dict>
	</array>
	<key>title</key>
	<string>Dockify</string>
</dict>
</plist>
